<h1>MY COOL DOG</h1>
<h2>his name is <%= @dog.name %> </h2>
<h2>his breed is <%= @dog.breed %> </h2>

<%= link_to('Back', dogs_path) %>
<%= button_to "Delete Dog :(", dog_path(@dog), method: :delete %>
